body{
    background-color: #7EC855;
}

.card-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.article{
    display: flex;
    justify-content: space-between;
}
section{
    margin: 70px auto;
}
.espace{
 width: 100px;
}
.closebtn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .closebtn:hover {
    color: #000;
  }

.borders{
    border-bottom: solid 1px gray;
}